@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F5F5;
}

/* Estilos para navegadores WebKit (Chrome, Safari, Opera) */
/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* largura da barra de rolagem */
  background-color: #f0f0f0; /* cor de fundo da barra de rolagem */
  border-radius: 8px; /* borda arredondada */
}

/* Estilos para o "thumb" (a parte deslizante da barra de rolagem) */
::-webkit-scrollbar-thumb {
  background-color: #1D8BC9; /* cor do "thumb" */
  border-radius: 8px; /* borda arredondada */
}
